<div class="wrapper">
    <h1>Edit your Profile</h1>
    <div class="form-i input-singup">
        <form action="/profile/edit/{{_id}}" method="post" enctype="multipart/form-data" id="form-container ">
            
            <input type="text" name="username" value="{{username}}"><br>
            <br>
            <input type="text" name="email" value="{{email}}"><br>

            <br>
            <div class="files">
            <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="picture">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
            <br>

            <button class="btn btn-info btn-lg btn-block" type="submit">Editar</button>
        </form>
    </div>
</div>