<div class="wrapper card-profile">
  <div class="card-white">
    <div class="pictureContainer">
      <div class="radius-picture">
        <a href="/profile/edit"><img src="{{user.picture}}" id="profilePic"></img></a>
      </div>
    </div>
    <a href="/profile/edit">
      <h1>{{user.username}}</h1>
    </a>
  </div>
</div>

<div class="container">
  <h1>Cards</h1>
  <div class="row">
    {{#each cards}}

    {{>profileGridPartials this}}</a>

    {{/each}}

  </div>
  <div class="col">
    {{#each suggestions}}
    <a href="/profile/{{_id}}" class="btn btn-secondary btn-lg">{{username}}</a>
    {{/each}}
  </div>
</div>
<div class="container">
  <h1>Favorites</h1>
  <div class="row">
    {{#each cardsFav}}

    {{>profileGridPartials this}}

    {{/each}}
  </div>

</div>