<div class="col-md-4">
  <div class="card">
    <a href="card/{{_id}}"><img class="card-img-top" src="{{imgPath}}" alt="#"></a>
    <div class="card-body">
      <h6 class="card-title">{{userID.username}}</h6>
      <p class="card-text">{{text}}
      </p>
    </div>
  </div>
</div>