<div class="col-md-3">
  <div class="card">
    <figure class="thumProfilePic">
      <img src="{{picture}}" alt="{{username}}">
    </figure>
  </div>
</div>

<div class="col-md-9">
  <div class="card">
    <h4>{{username}}</h4>
    <p>This number of cards</p>
  </div>
</div>