<div class="hero index-bg">

    <h1 class="title-index">{{title}}</h1>
    <br>
    <p class="color-p">Create your own galaxy</p>
     <br>
    <p class="color-p">Share with your friends </p>
    <br>
    <br>
    <br>
    <br>
  
</div>
<br><br><br>

<div class="container">

  <h2 class = "explore-gallery">Explore our gallery</h2>
  <div class="row justify-content-center">

    {{#each cards}}

    {{>homeGridPartials this}}

    {{/each}}

  </div>
</div>