body {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif; }

a {
  color: #00B7FF; }

.card-view {
  display: flex;
  justify-content: center;
  height: 100%; }

#card {
  width: 100%;
  height: 100%;
  position: relative; }

.card-supplement {
  background-color: #f1f1f1;
  text-align: center;
  height: 90vh;
  width: 45vh; }

.card-holder {
  height: 90vh;
  width: 90vh; }

#cardConstructor {
  text-align: center;
  background-color: #d3ccc0;
  text-justify: center;
  background: none;
  width: 100%;
  height: 70%;
  border: none; }

#saveCard {
  width: 40px;
  height: 40px;
  margin-top: 5px; }

#friendEmail {
  background-color: #f8f8f4;
  border-style: solid;
  margin: auto;
  border: none;
  padding: 10px 5px;
  width: 60%; }

#sendCard {
  margin-top: 0px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/mini-icon-set-communication/91/Communication_10-512.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 18px 18px;
  background-color: #fafafa;
  border-style: none;
  width: 20%;
  border-radius: 10%; }

#saveCard {
  display: block;
  width: 80%;
  background-color: #fafafa;
  border-style: none;
  border-radius: 10%;
  margin: auto; }

.planets {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  box-shadow: inset 0px 0px 8px 5px rgba(0, 0, 0, 0.9);
  background-size: cover; }

.planets:hover {
  border-color: rgba(248, 248, 244, 0.05);
  border-width: 1px;
  border-style: solid; }

#message {
  position: absolute; }

#picBg {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 150px; }

input {
  text-align: center;
  padding: 10px 30px; }

form {
  justify-content: center; }

.form-i {
  padding: 80px;
  border-radius: 13px 13px 13px 13px;
  text-align: center;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4); }

.file-field.big .file-path-wrapper {
  height: 3.2rem; }

.file-field.big .file-path-wrapper .file-path {
  height: 3rem; }

.pictureContainer {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 10%; }

#profilePic {
  border-radius: 50%;
  height: 100px;
  width: 100px; }

.card-white {
  padding-top: 5%;
  height: 400px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  text-align: center; }

.card-profile {
  background-image: url("../images/wallpaper2.jpg"); }

.radius-picture {
  padding-right: 10%;
  border-radius: 50%;
  border: 1px solid #bcc9ce; }

.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }

.background-image:hover {
  border-color: rgba(228, 255, 154, 0.05);
  border-width: 1px;
  border-style: solid; }

#shareCard {
  margin-top: 0px;
  background-size: 60%;
  background-image: url("https://cdn2.iconfinder.com/data/icons/mini-icon-set-communication/91/Communication_10-512.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 18px 18px;
  background-color: #f8f8f4;
  border-style: none;
  width: 20%;
  border-radius: 10%; }

.card {
  height: 100%;
  width: 100%; }

.owner-header {
  height: 15%;
  padding-top: 50px; }
  .owner-header h4 h6 {
    margin-bottom: 20px; }

.comment-list {
  height: 30vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fffdf9;
  margin: 0px, 20px;
  width: 90%;
  margin: 20px auto;
  border-radius: 2%; }

.comment-container {
  border-top: 1px;
  border-color: #252525;
  margin: 20px;
  text-align: left; }

.email-to-share {
  background-color: #f8f8f4;
  border-style: solid;
  margin: auto;
  border: none;
  padding: 10px 5px;
  width: 60%; }

.message-for-friend {
  background-color: #f8f8f4;
  border-style: solid;
  margin: auto;
  border: none;
  padding: 30px 5px;
  margin-bottom: 10px;
  width: 80%;
  border-radius: 5%; }

.normal-button {
  margin-top: 0px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 18px 18px;
  background-color: #f8f8f4;
  border-style: solid;
  width: 20%;
  border-radius: 10%; }

.normal-button.like {
  background-image: url("https://cdn.iconscout.com/icon/premium/png-256-thumb/pixel-heart-554373.png");
  background-size: 40%;
  display: block;
  margin-left: 10%;
  z-index: 10; }

.normal-button.submit {
  border-width: 0.5px;
  border-color: #ececec;
  width: 80%;
  padding: 5px; }

.element-info {
  display: flex;
  align-items: center;
  height: 90vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-right: 1px solid #929292;
  z-index: 100;
  color: #fffdf9;
  text-align: center;
  text-align: center;
  text-justify: auto;
  transition: .5s ease-in; }

.element-info-text {
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #e9e9e9; }

.element-info.hide {
  transition: 0.5s ease;
  display: none;
  padding: 0; }

.element-info.show {
  transition: 0.5s ease;
  display: flex;
  width: 30vh;
  padding: 25px; }

.home-card-wrapper {
  margin: 20px 15px;
  width: 100%; }

.card-body > a > h6 {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem; }

.comment-header {
  width: 100%;
  text-align: rigth; }

.comments-article {
  text-align: center; }

.background-image-cards {
  object-fit: cover;
  background-size: cover; }

/*# sourceMappingURL=style.css.map */