<input id="cardConstructor" type="text" placeholder="enter here your message" value="">

<button id="saveCard">Save your card</button>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <figure id="card">
        <img id="picBg" src="#" alt="#">
        <p id="message">Hola</p>
      </figure>

    </div>
  </div>
</div>






<style>
  #card {
    margin-top: 50px;
    background-color: aqua;
    width: 100%;
    height: 400px;
    position: relative;
  }

  #cardConstructor {
    width: 700px;
    height: 100px;
  }

  #saveCard {
    width: 40px;
    height: 40px;
  }

  .planets {

    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.9)
  }

  #message {
    position: absolute;
  }

  #picBg {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;

  }
</style>