<section class="card-view">
  <div class="card-supplement">
    <input id="cardConstructor" type="text" placeholder="enter here your message" value="">


    <input id="friendEmail" type="text" name="friendEmail">
    <button id="sendCard"></button>
    <button id="saveCard">Save your card</button>
  </div>

  <div class="card-holder">
    <figure id="card">
      <img id="picBg"
        src="https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1315&q=80"
        alt="Bg-img">
    </figure>
  </div>
</section>