<section class="card-view">
  <div class="card-supplement">

    <input id="cardConstructor" type="text" placeholder="enter here your message" value="">


    <input id="friendEmail" type="text" name="friendEmail">
    <button id="sendCard"></button>
    <button id="saveCard">Save your card</button>
    <br>
    <p class="message-to-user"></p>
  </div>

  <div class="card-holder">
    <figure id="card">
      <img id="picBg" src="https://img.freepik.com/free-photo/smooth-gradient-background_77528-21.jpg?size=626&ext=jpg"
        alt="Bg-img">
    </figure>
  </div>
</section>